{% extends "base.html" %}
{% load static %}
<!--Offcanvas sidebar-->
{% include "includes/sidebar.html" %}
<!-- Start Header -->
{% include "includes/header.html" %}
<!--Start search form-->
{% include "includes/search.html" %}
{% block movies_list %}
<main>
  <div class="recent-posts pt-65 pb-65 position-relative">
    <div class="container">
      <div class="row">
        <article class="col-md-12 first-article text-center mb-30">
          <div class="post-content">
            <div class="post-meta-1 mb-20">
              <a
                href="category.html"
                class="tag-category bg-brand-1 shadown-1 text-dark button-shadow hover-up-3"
                tabindex="0"
                >Lifestyle</a
              >
              <span class="post-date text-muted font-md"
                >September 15, 2021</span
              >
            </div>
            <h1 class="post-title mb-30 fw-700">
              <a href="{% url 'pages:movie_detail' 1 %}" tabindex="0">
                30 Best Lifestyle Blogs to Follow in 2021
              </a>
            </h1>
            <div class="post-excerpt text-grey-400 mb-30">
              Tempus ultricies augue luctus et ut suscipit. Morbi arcu, ultrices
              purus dolor erat bibendum sapien metus.
            </div>
          </div>
          <figure class="border-radius-10 hover-up-3">
            <a href="single.html"
              ><img
                src="assets/imgs/news/news-16.jpg"
                alt=""
                class="border-radius-10"
            /></a>
          </figure>
        </article>
        <article class="col-lg-6 col-md-6 mb-30 wow fadeIn animated">
          <div class="post-card-1 large border-radius-10 hover-up">
            <div
              class="post-thumb thumb-overlay img-hover-slide position-relative"
              style="background-image: url(assets/imgs/news/news-8.jpg)"
            >
              <a class="img-link" href="single.html"></a>
              <div class="post-meta-1 mb-20">
                <a
                  href="category.html"
                  class="tag-category bg-info shadown-1 text-dark button-shadow hover-up-3"
                  >Travel</a
                >
              </div>
            </div>
            <div class="post-content p-30">
              <div class="post-card-content">
                <div class="entry-meta meta-1 float-left font-md mb-10">
                  <span class="post-on has-dot">27 August</span>
                </div>
                <h4 class="post-title mb-30">
                  <a href="single.html"
                    >After a Few Dates, They Traveled to the Other Side of the
                    World</a
                  >
                </h4>
                <div class="post-meta-2 font-md">
                  <a href="page-author.html">
                    <img src="assets/imgs/authors/author.jpg" alt="" />
                    <span class="author-namge">Kate Adie</span>
                  </a>
                  <span class="time-to-read has-dot">6 mins to read</span>
                </div>
              </div>
            </div>
          </div>
        </article>
        <article class="col-lg-6 col-md-6 mb-30 wow fadeIn animated">
          <div class="post-card-1 large border-radius-10 hover-up">
            <div
              class="post-thumb thumb-overlay img-hover-slide position-relative"
              style="background-image: url(assets/imgs/news/news-5.jpg)"
            >
              <a class="img-link" href="single.html"></a>
              <div class="post-meta-1 mb-20">
                <a
                  href="category.html"
                  class="tag-category bg-brand-1 shadown-1 text-dark button-shadow hover-up-3"
                  >Food</a
                >
              </div>
              <span class="top-right-icon bg-white"
                ><i class="elegant-icon icon_ribbon_alt"></i
              ></span>
            </div>
            <div class="post-content p-30">
              <div class="post-card-content">
                <div class="entry-meta meta-1 float-left font-md mb-10">
                  <span class="post-on has-dot">18 August</span>
                </div>
                <h4 class="post-title mb-30">
                  <a href="single.html"
                    >5 Kinds of Food-Shamers You Will Encounter (and How to
                    Deal)
                  </a>
                </h4>
                <div class="post-meta-2 font-md">
                  <a href="page-author.html">
                    <img src="assets/imgs/authors/author-2.jpg" alt="" />
                    <span class="author-namge">John Lennon</span>
                  </a>
                  <span class="time-to-read has-dot">16 mins to read</span>
                </div>
              </div>
            </div>
          </div>
        </article>
        <article class="col-lg-6 col-md-6 mb-0 wow fadeIn animated">
          <div class="post-card-1 large border-radius-10 hover-up">
            <div
              class="post-thumb thumb-overlay img-hover-slide position-relative"
              style="background-image: url(assets/imgs/news/news-6.jpg)"
            >
              <a class="img-link" href="single.html"></a>
              <div class="post-meta-1 mb-20">
                <a
                  href="category.html"
                  class="tag-category bg-dark shadown-1 text-white button-shadow hover-up-3"
                  >Magazine</a
                >
              </div>
            </div>
            <div class="post-content p-30">
              <div class="post-card-content">
                <div class="entry-meta meta-1 float-left font-md mb-10">
                  <span class="post-on has-dot">05 September</span>
                </div>
                <h4 class="post-title mb-30">
                  <a href="single.html"
                    >Runner with Autism Graces the Latest Cover of Women's
                    Running
                  </a>
                </h4>
                <div class="post-meta-2 font-md">
                  <a href="page-author.html">
                    <img src="assets/imgs/authors/author-3.jpg" alt="" />
                    <span class="author-namge">Sarah Harding</span>
                  </a>
                  <span class="time-to-read has-dot">12 mins to read</span>
                </div>
              </div>
            </div>
          </div>
        </article>
        <article class="col-lg-6 col-md-6 mb-0 wow fadeIn animated">
          <div class="post-card-1 large border-radius-10 hover-up">
            <div
              class="post-thumb thumb-overlay img-hover-slide position-relative"
              style="background-image: url(assets/imgs/news/news-7.jpg)"
            >
              <a class="img-link" href="single.html"></a>
              <div class="post-meta-1 mb-20">
                <a
                  href="category.html"
                  class="tag-category bg-danger shadown-1 text-dark button-shadow hover-up-3"
                  >Food</a
                >
              </div>
            </div>
            <div class="post-content p-30">
              <div class="post-card-content">
                <div class="entry-meta meta-1 float-left font-md mb-10">
                  <span class="post-on has-dot">06 September</span>
                </div>
                <h4 class="post-title mb-30">
                  <a href="single.html"
                    >10 Snacks a Food Writer Packs for Day Hikes and Car
                    Trips</a
                  >
                </h4>
                <div class="post-meta-2 font-md">
                  <a href="page-author.html">
                    <img src="assets/imgs/authors/author-4.jpg" alt="" />
                    <span class="author-namge">Nadine Coyle</span>
                  </a>
                  <span class="time-to-read has-dot">14 mins to read</span>
                </div>
              </div>
            </div>
          </div>
        </article>
      </div>
      <div class="text-center mt-65">
        <button class="btn btn-lg bg-dark text-white d-inline-block">
          Load more posts
        </button>
      </div>
    </div>
  </div>
  <section class="newsletter bg-brand-3 pt-100 pb-100">
    <div class="container">
      <div class="position-relative">
        <div class="row">
          <div class="col-lg-8">
            <div class="header-title-2 mb-65">
              <h4 class="mb-0 text-grey-400 wow fadeIn animated">
                <img src="assets/imgs/theme/svg/send.svg" alt="" />
                <span>Subscribe</span>
              </h4>
              <h3 class="font-heading wow fadeIn animated">
                to Our Newsletter
              </h3>
            </div>
            <form class="form-subcriber mt-30 d-flex wow fadeIn animated">
              <input
                type="email"
                class="form-control bg-white font-small"
                placeholder="Enter your email"
              />
              <button class="btn bg-dark text-white" type="submit">
                Subscribe
              </button>
            </form>
          </div>
        </div>
        <img
          src="assets/imgs/theme/sketch-1.png"
          alt=""
          class="sketch-1 wow fadeIn animated"
        />
      </div>
    </div>
  </section>
</main>
{% endblock %}
