{% load static %}
<header class="main-header header-sticky">
    <div class="position-relative">
        <div class="container align-self-center">
            <div class="header-style-1">
                <div class="logo">
                    <a href="{% url 'pages:index' %}"><img src="{% static 'assets/imgs/theme/logo.svg' %}" alt=""></a>
                </div>
                <div class="main-nav d-none d-lg-block">
                    <nav>
                        <!--Desktop menu-->
                        <ul class="main-menu d-none d-lg-inline">
                            <li><a href="{% url 'pages:index' %}">Главная</a></li>
                            {% comment %} <li> <a href="page-about.html">About</a> </li> {% endcomment %}
                            <li class="menu-item-has-children">
                                {% comment %} <a href="category.html">Материалы</a> {% endcomment %}
                                <a>Произведения</a>
                                <ul class="sub-menu font-small">
                                    <li><a href="{% url "pages:movies_list" %}">Фильмы</a></li>
                                    <li><a href="{% url "pages:series_list" %}">Сериалы</a></li>
                                    <li><a href="category-list.html">Книги</a></li>
                                    <li><a href="category-list-2.html">Музыка</a></li>
                                </ul>
                            </li>
                            {% comment %} <li> <a href="page-design.html">Design</a> </li>
                            <li> <a href="page-contact.html">Contact</a> </li> {% endcomment %}
                        </ul>
                        <!--Mobile menu-->
                        <ul id="mobile-menu" class="d-block d-lg-none text-muted">
                            <li class="menu-item-has-children">
                                <a href="index.html">Home</a>
                                <ul class="sub-menu font-small">
                                    <li><a href="index.html">Home default</a></li>
                                    <li><a href="home-2.html">Homepage 2</a></li>
                                    <li><a href="home-3.html">Homepage 3</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children"><a href="#">Pages</a>
                                <ul class="sub-menu font-small">
                                    <li><a href="page-about.html">About</a></li>
                                    <li><a href="page-contact.html">Contact</a></li>
                                    <li><a href="page-design.html">Typography</a></li>
                                    <li><a href="page-register.html">Register</a></li>
                                    <li><a href="page-login.html">Login</a></li>
                                    <li><a href="page-search.html">Search</a></li>
                                    <li><a href="page-author.html">Author</a></li>
                                    <li><a href="page-404.html">404 page</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children"><a href="#">Category</a>
                                <ul class="sub-menu font-small">
                                    <li><a href="category-list.html">List layout</a></li>
                                    <li><a href="category-grid.html">Grid layout</a></li>
                                    <li><a href="category-list-2.html">List 2 layout</a></li>
                                    <li><a href="category-big.html">Big layout</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children"><a href="#">Single post</a>
                                <ul class="sub-menu font-small">
                                    <li><a href="single.html">Default</a></li>
                                    <li><a href="single-2.html">Big image</a></li>
                                    <li><a href="single-3.html">Right sidebar</a></li>
                                    
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
                <!--end: main-nav-->
                <div class="header-right">
                    <button class="search-icon d-md-inline">
                        <img src="{% static 'assets/imgs/theme/svg/search.svg' %}" alt="">
                    </button>
                    <button class="btn btn-md bg-dark text-white ml-15 box-shadow d-none d-lg-inline"><a href="{% url 'pages:login' %}">Войти</a></button>
                    <button class="btn btn-md bg-dark text-white ml-15 box-shadow d-none d-lg-inline"><a href="{% url 'pages:register' %}">Регистрация</a></button>
                </div>
            </div>
            <div class="mobile_menu d-lg-none d-block"></div>
        </div>
        <div class="off-canvas-toggle-cover d-inline-block">
            <div class="off-canvas-toggle hidden d-inline-block" id="off-canvas-toggle">
                <img class="svg-icon-24" src="assets/imgs/theme/svg/menu.svg" alt="">
            </div>
        </div>
    </div>
</header>