<aside id="sidebar-wrapper" class="custom-scrollbar offcanvas-sidebar">
    <button class="off-canvas-close"><img class="svg-icon-24" src="assets/imgs/theme/svg/close.svg" alt=""></button>
    <div class="sidebar-inner">
        <div class="sidebar-widget widget-creative-menu">
            <ul>
                <li><a href="category.html">Design<sup>235</sup></a></li>
                <li><a href="category-big.html">Lifestyle<sup>186</sup></a></li>
                <li><a href="category-grid.html">Travel Tips<sup>98</sup></a></li>
                <li><a href="category-list.html">Healthy<sup>247</sup></a></li>
            </ul>
        </div>
        <div class="offcanvas-copyright mt-65">
            <h6 class="text-muted text-uppercase mb-20 font-heading text-white">Flow Magazine</h6>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Odio suspendisse leo neque.
            </p>
            <p><strong class="color-black">Address</strong><br>
                123 Main Street<br>
                New York, NY 10001</p>
            <p><strong class="color-black">Phone</strong><br>
                (+01) 234 567 89</p>
        </div>
    </div>
</aside>